<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.student.mapper.StudentInfo3Mapper">
    
    <resultMap type="StudentInfo3" id="StudentInfo3Result">
        <result property="id"    column="id"    />
        <result property="studentId"    column="student_id"    />
        <result property="name"    column="name"    />
        <result property="teachingClass"    column="teaching_class"    />
    </resultMap>

    <sql id="selectStudentInfo3Vo">
        select id, student_id, name, teaching_class from student_info3
    </sql>

    <select id="selectStudentInfo3List" parameterType="StudentInfo3" resultMap="StudentInfo3Result">
        <include refid="selectStudentInfo3Vo"/>
        <where>  
            <if test="studentId != null  and studentId != ''"> and student_id = #{studentId}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="teachingClass != null  and teachingClass != ''"> and teaching_class = #{teachingClass}</if>
        </where>
    </select>
    
    <select id="selectStudentInfo3ById" parameterType="Long" resultMap="StudentInfo3Result">
        <include refid="selectStudentInfo3Vo"/>
        where id = #{id}
    </select>

    <select id="selectStudentInfoByStudentId" parameterType="String" resultMap="StudentInfo3Result">
        <include refid="selectStudentInfo3Vo"/>
        where student_id = #{studentId}
    </select>

    <select id="searchStudentInfoByStudentId" parameterType="StudentInfo" resultMap="StudentInfo3Result">
        <include refid="selectStudentInfo3Vo"/>
        <where>
            <if test="studentId != null and studentId != ''">
                OR student_id LIKE CONCAT('%', #{studentId}, '%')
            </if>
            <if test="name != null and name != ''">
                OR name LIKE CONCAT('%', #{name}, '%')
            </if>
        </where>
    </select>

    <insert id="insertStudentInfo3" parameterType="StudentInfo3" useGeneratedKeys="true" keyProperty="id">
        insert into student_info3
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="studentId != null and studentId != ''">student_id,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="teachingClass != null and teachingClass != ''">teaching_class,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="studentId != null and studentId != ''">#{studentId},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="teachingClass != null and teachingClass != ''">#{teachingClass},</if>
         </trim>
    </insert>

    <update id="updateStudentInfo3" parameterType="StudentInfo3">
        update student_info3
        <trim prefix="SET" suffixOverrides=",">
            <if test="studentId != null and studentId != ''">student_id = #{studentId},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="teachingClass != null and teachingClass != ''">teaching_class = #{teachingClass},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteStudentInfo3ById" parameterType="Long">
        delete from student_info3 where id = #{id}
    </delete>

    <delete id="deleteStudentInfo3ByIds" parameterType="String">
        delete from student_info3 where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>